/* creacion de una clase css para el component person */
.person{
    border: 2px solid #fff;
    padding: 2%;
    box-shadow: 0 2px 2px;
    width: 30%;
    margin:16px auto;
    border-radius: 15px;
}

.bold{
    font-weight: bold;
}

.red{
    color: red;
}